---
http_interactions:
- request:
    method: post
    uri: https://api.medium.com/v1/tokens
    body:
      encoding: UTF-8
      string: client_id=[CLIENT_ID]&client_secret=[CLIENT_SECRET]&code=[AUTH_CODE]&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A4567
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Obvious-Info:
      - 18340-40e9a8e,3f5841c
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Tk:
      - T
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","access_token":"2cf2849db084fb07cf51fb9df92f136a9c2c8074ee2820e98fe7407ba74b99fa9","refresh_token":"227421c24e242747c8d806b3d41addd3f6d1aeaa2dbc603b7cb0b02bfd3d346e5","scope":["basicProfile","publishPost"],"expires_at":1452198901944}'
  recorded_at: Sun, 08 Nov 2015 20:35:02 GMT
recorded_with: VCR 2.9.3
