---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2cf2849db084fb07cf51fb9df92f136a9c2c8074ee2820e98fe7407ba74b99fa9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Obvious-Info:
      - 18340-40e9a8e,3f5841c
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Tk:
      - T
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"19de9a62217432607501085d979b03706c20644e79966fd380d70eedb210172e1","username":"penmanross","name":"Ross
        Penman","url":"https://medium.com/@penmanross","imageUrl":"https://cdn-images-1.medium.com/fit/c/200/200/1*iwDSHmvXOo_UyB0yLjlVwA.jpeg"}}'
  recorded_at: Sun, 08 Nov 2015 20:35:02 GMT
recorded_with: VCR 2.9.3
